.invest{
    background-color: #35459c;
    padding:75px 0 65px 0;
}
.invest .wrapper{
    background-color: white;
    border-radius: 10px;
    min-height: 480px;
    padding: 40px 15px 15px 15px;
    margin-bottom: 20px;
}
.invest .wrapper .img-wrapper{
    height:80px;
    text-align: center;
    margin-bottom: 15px;
}
.invest .wrapper .img-wrapper img{
    height:80px;
}
.invest .wrapper .header{
    text-align: center;
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: #35459c;
}
.invest .wrapper .card-splitter{
    background-color: #efc354;
    width:10%;
    height:1px;
    margin:7px auto 15px auto;
}
.invest .wrapper .body ul{
    margin-bottom: 0;
    padding-left: 0;
}
.invest .wrapper .body ul li{
    margin-bottom: 8px;
    padding-right:15px;
    margin-left:25px;
}
.invest .wrapper .body ul li span{
    color: #35459c;
    font-size: 16px;
}
.invest #invest-btn{
    min-width: 150px;
}