* {
 font-family: 'Arvo', serif;
}
.flexy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.fa {
    font-family: FontAwesome !important;
}

body {
    margin: 0;
    padding: 0;
    background: url("../../img/all/bg.png") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body b {
    font-weight: bold !important;
}

a {
    color: #35459c;
    text-decoration: none !important;
}

a:hover {
    color: #efc354;
}

.section {
    position: relative;
}

.btn-brand-default {
    height: 50px;
    border-radius: 3px;
    padding: 13px 10px;
    border: 1px solid transparent;
    background-color: #637FA0;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.btn-brand-default:hover, .btn-brand-default:focus, .btn-brand-default:active {
    border: 1px solid transparent;
    background-color: #6987a9 !important;
    color: #e2e2e2;
    box-shadow: inset 3px 3px 1px 1px rgba(0, 0, 0, 0.1);
}

.btn-brand-transparent {
    height: 50px;
    border-radius: 3px;
    padding: 13px 10px;
    border: 1px solid #efc354;
    background-color: transparent;
    color: #efc354;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}

.btn-brand-transparent:hover, .btn-brand-transparent:focus, .btn-brand-transparent:active {
    border: 1px solid #efc354 !important;
    background-color: rgba(100, 127, 160, 0.1) !important;
    color: #efc354;
    box-shadow: inset 3px 3px 1px 1px rgba(0, 0, 0, 0.1);
}

.text-brand-primary{
    color:#35459c;
}
.text-brand-secondary{
    color:#efc354;
}
.bg-brand-primary{
    background-color: #35459c;
}
.bg-brand-secondary{
    background-color: #efc354;
}
.bg-gray-transparent{
    background: rgba(222, 222, 222, 0.65);
}
.br-10{
    border-radius: 10px;
}

.video-responsive {
    width: 50%;
    height: 15vw;
}

@media (max-width: 1366px) {
    .video-responsive {
        width: 50%;
        height: 25vw;
    }
}

@media (max-width: 768px) {
    .video-responsive {
        width: 85%;
        height: 50vw;
    }
}

@media (max-width: 480px) {
    .video-responsive {
        width: 100%;
        height: 70vw;
    }
}

.video-responsive-col {
    width: 90%;
    height: 15vw;
}

@media (max-width: 1366px) {
    .video-responsive-col {
        width: 90%;
        height: 25vw;
    }
}

@media (max-width: 768px) {
    .video-responsive-col {
        width: 85%;
        height: 50vw;
    }
}

@media (max-width: 480px) {
    .video-responsive-col {
        width: 100%;
        height: 70vw;
    }
}
