.associate-program-intro{
    background-color: rgba(67, 103, 178, 0.8);
    padding:61px 0;
}
.associate-program-intro h1{
    margin: 0;
}

.associate-program{
    background-color: #eeeeee;
}

@media (min-width: 768px){
    .associate-program .row-container{
        display: flex;
    }
    .associate-program .row-container > div:first-child{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px){
    .associate-program .row-container .br-10{
        border-radius: 0;
    }
}