.shareholders-intro{
    background-color: rgba(67, 103, 178, 0.8);
    padding:61px 0;
}
.shareholders-intro h1{
    margin: 0;
}


.shareholders-main{
    background-color: #eeeeee;
}
.shareholders-main .wrapped{
    border-radius: 10px;
    padding:10px;
    margin-bottom: 10px;
    width:50%;
    background-color: white;
}
.shareholders-main .header{
    font-size: 22px;
    line-height: 24px;
    font-weight: bold;
    color: #4367b2;
}
.shareholders-main .header .card-splitter{
    background-color: #efc354;
    width:27px;
    height:2px;
    margin:5px auto 20px 0;
    border-top:0;
}
.shareholders-main .body p{
    font-size: 18px;
    line-height: 20px;
}
.shareholders-main .body ul{
    padding-left:15px;
}
.shareholders-main .body ul li{
    margin-bottom: 8px;
}
.shareholders-main .body ul li span{
    color: #4367b2;
    font-size: 18px;
    line-height: 20px;
}